table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .title-main{
    border-bottom: 3px solid #043458;
    padding-bottom: 10px;
    color: #043458;
    font-size: 14px;
    font-weight: 700;
}
.mat-header-row{
  background-color: #e1f0ff;
}