<div class="form-highlighter">
    <form [formGroup]="designReqForm">
        <div class="container-fluid">
            <p class="title-main">Design</p>
            <div class="row">
                <div class="col-lg-4">
                    <mat-label class="mr-5">Is design already completed?</mat-label>
                    <mat-slide-toggle formControlName="isDesignCompleted"></mat-slide-toggle>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Architect Name</mat-label>
                            <input matInput type="text" formControlName="architectName" autocomplete="off" placeholder="Architect Name"
                                class="form-control" required />
                            <mat-error *ngIf="d.architectName.hasError('required')">
                                Architect Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Contact No</mat-label>
                            <input matInput type="text" formControlName="contactNo" autocomplete="off" placeholder="Contact No"
                                class="form-control" required />
                            <mat-error *ngIf="d.contactNo.hasError('required')">
                                Contact No is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email ID</mat-label>
                            <input class="form-control" matInput placeholder="Enter Email" autocomplete="off"
                                formControlName="emailId" required>
                            <mat-error *ngIf="d.emailId.hasError('email') && !d.emailId.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="d.emailId.hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="d.emailId.hasError('minLength')">
                                Email should have at least 3 characters
                            </mat-error>
                            <mat-error *ngIf="d.emailId.hasError('maxLength')">
                                Email should have maximum 320 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Design</mat-label>
                            <mat-select class="form-control" placeholder="What are you looking for"
                                formControlName="design" required>
                                <mat-option *ngFor="let design of designList" [value]="design.value">
                                    {{design.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="d.design.hasError('required')">Please choose design
                            </mat-error>
                        </mat-form-field>
                        <!-- <input name="file" type="file" formControlName="designFile"> -->
                        <label for="file-upload" class="custom-file-upload">
                            Upload File <i class="fas fa-upload"></i>
                       </label>
                       <input id="file-upload" type="file"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="pb-lg-0 pb-5 btn-bottom-holder text-right">
                        <button type="submit"
                            class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                            (click)="redirectTo('GO_TO_BASIC')">
                            <i class="fas fa-angle-double-left"></i> Back
                        </button>
                        <button type="submit" (click)="savePersonal('GO_TO_DASHBOARD','QLP')"
                            class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            Save
                        </button>
                        <button type="submit" (click)="savePersonal('GO_TO_DASHBOARD','QLA')"
                            class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            Submit
                        </button>   
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>