table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}


::ng-deep.mat-form-field-underline {
  background-color: black !important;
}

.form-control {
  border: none !important;
}

.mat-header-row {
  background-color: #e1f0ff;
}

.status-look{
  font-weight: 700;
  .fa-circle{
    color: #04b179;
    padding-right: 5px;
  }
}
.mat-elevation-z8{
  margin-bottom: 3em;
  table{
    table-layout: fixed;
  }
}
::ng-deep.mat-horizontal-stepper-header-container{
    width: 80%;
    margin: auto;
    background-color: #e1f0ff;
    border-radius: 20px;
}