<div class="sales-container">
  <ng-template [ngIf]="!isleadFormVisible">
    <p class="title-main">Customers</p>
    <div class="container">
      <div class="row">
        <form [formGroup]="filterFormGroup" class="w-100">
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <div class="example-header">
                  <mat-form-field>
                    <input class="form-control" formControlName="filter" matInput
                      (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Status</mat-label>
                  <mat-select class="form-control" placeholder="Status" formControlName="status"
                    (selectionChange)="filterBasedOnStatus($event)">
                    <mat-option *ngFor="let status of statusList" [value]="status.value">
                      {{status.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 align-self-center text-left">
              <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-7 py-2"
                (click)="OnResetFilterForm()">
                Reset
              </button>
            </div>
            <div class="col-lg-3">
              <div class="pb-lg-0 pb-5 btn-bottom-holder text-right mt-5">
                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                  (click)="fnLeadFormVisible('GO_TO_CREATE_LEAD')">
                  <i class="fas fa-plus"></i>Create Lead
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="clientName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CLIENT NAME </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.clientName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CITY </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contactNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT NO </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.contactNo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="effectiveDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> E.DATE </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.effectiveDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="statusDesc">
          <mat-header-cell class="justify-content-center" *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
          <mat-cell *matCellDef="let row" class="status-look"> <i class="fas fa-circle"></i> {{row.statusDesc}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell class="justify-content-center" *matHeaderCellDef mat-sort-header> ACTIONS </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="icon-holding">
              <i class="fas fa-eye" (click)="viewLead(row)"></i>
              <i class="fas fa-pencil-alt" (click)="editLead(row)"></i>
              <i class="fas fa-comment-alt" (click)="goToMOM(row)"></i>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </ng-template>
  <ng-template [ngIf]="iscreateLeadFormVisible">
    <div *ngIf="form=='LEAD'">
      <div class="pb-lg-0 pb-5 btn-bottom-holder text-right">
        <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
          (click)="fnLeadFormVisible('GO_TO_DASHBOARD')">
          Leads
        </button>
      </div>
      <app-personal-info [isLead]="'LEAD'"></app-personal-info>
    </div>
  </ng-template>
  <ng-template [ngIf]="isleadFormVisible">
    <div *ngIf="(form!='LEAD' && form!='SUMMARY' && form!='MOM')">
      <mat-horizontal-stepper labelPosition="bottom" #stepper (selectionChange)="onStepCommonChange($event)">
        <mat-step>
          <ng-template matStepLabel>Personal Information</ng-template>
          <div *ngIf="form=='PROFILE'">
            <div class="pb-lg-0 pb-5 btn-bottom-holder text-right">
              <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                (click)="fnLeadFormVisible('GO_TO_DASHBOARD')">
                <i class="fas fa-clone"></i> Leads
              </button>
            </div>
            <app-personal-info [isLead]="'Q-LEAD'"></app-personal-info>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Property Information</ng-template>
          <div *ngIf="form=='PROPERTY'">
            <app-property-info></app-property-info>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Basic Information</ng-template>
          <div>
            <app-basic-requirement></app-basic-requirement>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Design Information</ng-template>
          <div *ngIf="form=='UPLOAD'">
            <app-design-requirement></app-design-requirement>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <div *ngIf="form=='SUMMARY'">
      <app-view-details></app-view-details>
    </div>
    <div *ngIf="form=='MOM'">
      <app-mom-management></app-mom-management>
    </div>
  </ng-template>
</div>