.card-custom-holder{
    padding: 20px 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px lightgrey;
    border: 2px solid lightgray;
    .bottom-button{
        button{
          background-color: #043458;
          color: white;
        }
      }
      .card-header{
          border-bottom: 3px solid #043458;
      } 
}

::ng-deep.mat-form-field-underline {
    background-color: black !important;
  }