<div class="login-form login-forgot">
  <form
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="forgotPasswordForm"
  >
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Forgotten Password ?
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Enter your email to reset your password
      </p>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email"  autocomplete="off" formControlName="email">
        <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="f.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f.email.hasError('minLength')">
          Email should have at least 3 characters
        </mat-error>
        <mat-error *ngIf="f.email.hasError('maxLength')">
          Email should have maximum 320 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        type="submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
        [disabled]="forgotPasswordForm.invalid"
        (click)="resetPassword()"
      >
        Reset Password
      </button>
      <button
        type="submit"
        class="btn  font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
        (click)="redirectTo()"
      >
      Cancel
      </button>
    </div>
    <div></div>
  </form>
</div>
