<div class="login-form login-forgot">
  <form
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="forgotPasswordForm"
    [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }"
  >
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Forgotten Password ?
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Enter your email to reset your password
      </p>
    </div>
    <ng-container *ngIf="errorState === errorStates.HasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">The email detail is incorrect</div>
      </div>
    </ng-container>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email"  formControlName="email">
        <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="f.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f.email.hasError('minLength')">
          Email should have at least 3 characters
        </mat-error>
        <mat-error *ngIf="f.email.hasError('maxLength')">
          Email should have maximum 320 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        type="submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
        [disabled]="forgotPasswordForm.invalid"
      >
        Reset
      </button>
      <a
        routerLink="/auth/login"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Cancel
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <div></div>
  </form>
  <ng-container *ngIf="errorState === errorStates.NoError">
    <div
      class="card card-custom bgi-no-repeat gutter-b"
      style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      "
    >
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">Email is correct!</h3>
          <p class="text-white font-size-lg">
            Message with 'recovery' instruction<br />
            has been sent<br />
          </p>
          <a
            routerLink="/auth/login"
            class="swal2-confirm btn font-weight-bold btn-light-primary"
          >
            Ok, got it!
          </a>
        </div>
      </div>
      <!--end::Body-->
    </div>
  </ng-container>
</div>
