<ng-template [ngIf]="!isProfileFormVisible">
    <p class="title-main">USERS</p>
    <div class="col-lg-4">
        <div class="form-group">
        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <mat-table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="departmentDesc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTMENT </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.departmentDesc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="roleDesc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ROLE(S) </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.roleDesc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="emailId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.emailId}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF JOINING </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdDate | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </mat-header-cell>
                <mat-cell (click)="editUser(row)" *matCellDef="let row"> 
                    <div class="icon-holding">
                        <i class="fas fa-pencil-alt"></i>
                       </div>    
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</ng-template>
<ng-template [ngIf]="isProfileFormVisible" >
    <div class="pb-lg-0 pb-5 btn-bottom-holder text-right" *ngIf="form=='USER'">
        <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
            (click)="fnProfileFormVisible('GO_TO_DASHBOARD')">
            <i class="fas fa-user"></i> Users
        </button>
    </div>
    <app-employee-profile></app-employee-profile>
</ng-template>
