table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .mat-header-row {
    background-color: #e1f0ff;
  }

  ::ng-deep.mat-form-field-underline {
    background-color: black!important;
}