<div class="form-wrapper">
    <div class="office-info">
        <p>Official Information</p>
        <form [formGroup]="officialInfoForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee Id</mat-label>
                                <input matInput type="text" placeholder="Enter Employee Id" autocomplete="off"
                                    formControlName="offEmpId" class="form-control" numbersOnly />
                                <mat-error *ngIf="o.offEmpId.hasError('required')">
                                    Employee Id is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Department</mat-label>
                                <mat-select placeholder="Choose Department" class="form-control"
                                    formControlName="offEmpDepartment" required>
                                    <mat-option *ngFor="let department of departmentList" [value]="department.value">
                                        {{department.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="o.offEmpDepartment.hasError('required')">Please Choose Department
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Designation</mat-label>
                                <mat-select placeholder="Choose Designation" class="form-control"
                                    formControlName="offEmpDesignation" required>
                                    <mat-option *ngFor="let designation of designationList" [value]="designation.value">
                                        {{designation.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="o.offEmpDesignation.hasError('required')">Please Choose Designation
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Work Location</mat-label>
                                <mat-select placeholder="Choose Work Location" class="form-control"
                                    formControlName="offEmpWorkLocation" required>
                                    <mat-option *ngFor="let location of workLocationList" [value]="location.value">
                                        {{location.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="o.offEmpWorkLocation.hasError('required')">Please Choose Work Location
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Official Email</mat-label>
                                <input matInput placeholder="Enter Official Email" autocomplete="off"
                                    class="form-control" formControlName="offEmpOfficialEmail" required>
                                <mat-error
                                    *ngIf="o.offEmpOfficialEmail.hasError('email') && !o.offEmpOfficialEmail.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('required')">
                                    Official Email is required
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('minlength')">
                                    Email should have at least 3 characters
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('maxlength')">
                                    Email should have maximum 320 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Official Contact Number</mat-label>
                                <input matInput type="text" autocomplete="off" formControlName="offEmpOffContactNo"
                                    placeholder="Enter Official Contact Number" class="form-control" required
                                    minlength="6" maxlength="15" />
                                <mat-error *ngIf="o.offEmpOffContactNo.hasError('required')">
                                    Official Contact Number is required
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOffContactNo.hasError('minlength')">
                                    Official Contact Number should be minimum 6 digit
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            Emp Pic
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div> -->
            </div>
        </form>
    </div>
    <div class="person-info">
        <p>Personal Information</p>
        <form [formGroup]="personalInfoForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee First Name</mat-label>
                                <input matInput type="text" autocomplete="off" formControlName="perEmpFirstName"
                                    placeholder="Enter Employee First Name" class="form-control"
                                    matTooltip="{{p.perEmpFirstName.value}}" [matTooltipPosition]="'above'"
                                    capitalizeFirst required maxlength="150" alphabet />
                                <mat-error *ngIf="p.perEmpFirstName.hasError('required')">
                                    Employee First Name required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee Last Name</mat-label>
                                <input matInput type="text" autocomplete="off" formControlName="perEmpLastName"
                                    placeholder="Enter Employee Last Name" class="form-control"
                                    matTooltip="{{p.perEmpLastName.value}}" [matTooltipPosition]="'above'" required
                                    capitalizeFirst maxlength="150" alphabet />
                                <mat-error *ngIf="p.perEmpLastName.hasError('required')">
                                    Employee Last Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="dobPicker" autocomplete="off" class="form-control"
                                    formControlName="perEmpDob" [dateMask]="maskConfig" [max]="mindate">
                                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dobPicker></mat-datepicker>
                                <mat-error *ngIf="p.perEmpDob.hasError('required')">Date of Birth
                                    required
                                </mat-error>
                                <mat-error *ngIf="p.perEmpDob.hasError('matDatepickerMax')">Date of Birth
                                    should not less be than today's date
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Gender</mat-label>
                                <mat-select placeholder="Choose Gender" class="form-control"
                                    formControlName="perEmpGender" required>
                                    <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                                        {{gender.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpGender.hasError('required')">Please Choose Gender
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Marital Status</mat-label>
                                <mat-select placeholder="Choose Marital Status" class="form-control"
                                    formControlName="perEmpMaritalStatus" required>
                                    <mat-option *ngFor="let marital of maritalStatusList" [value]="marital.value">
                                        {{marital.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpMaritalStatus.hasError('required')">Please Choose Marital
                                    Status
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Nationality</mat-label>
                                <mat-select placeholder="Choose Nationality" class="form-control"
                                    formControlName="perEmpNationality" required>
                                    <mat-option *ngFor="let nationality of nationalityList" [value]="nationality.value">
                                        {{nationality.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpNationality.hasError('required')">Please Choose Nationality
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Personal Contact Number</mat-label>
                                <input matInput type="text" autocomplete="off" formControlName="perEmpPersonalContactNo"
                                    placeholder="Enter Personal Contact Number" class="form-control" minlength="6"
                                    maxlength="15" />
                                <mat-error *ngIf="p.perEmpPersonalContactNo.hasError('required')">
                                    Personal Contact Number is required
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalContactNo.hasError('minlength')">
                                    Personal Contact Number should be minimum 6 digit
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Personal Email</mat-label>
                                <input matInput placeholder="Enter Personal Email" autocomplete="off"
                                    class="form-control" formControlName="perEmpPersonalEmail">
                                <mat-error
                                    *ngIf="p.perEmpPersonalEmail.hasError('perEmpPersonalEmail') && !p.perEmpPersonalEmail.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('required')">
                                    Personal Email is required
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('minlength')">
                                    Email should have at least 3 characters
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('maxlength')">
                                    Email should have maximum 320 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row sameas-check pt-5">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Current Residence</mat-label>
                                <textarea matInput cols="5" rows="5" autocomplete="off" class="form-control"
                                    placeholder="Enter Current Residence" formControlName="perEmpResidence"
                                    required></textarea>
                                <mat-error *ngIf="p.perEmpResidence.hasError('required')">
                                    Current Residence is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="check-box-same">
                        <mat-checkbox color="primary" formControlName="perEmpSameAsPermanentResidence"
                            (change)="setSameAsPermanent($event.checked)" class="form-control">Same As
                            Permanent Residence</mat-checkbox>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Permanent Residence</mat-label>
                                <textarea matInput cols="5" rows="5" autocomplete="off"
                                    placeholder="Enter Permanent Residence" formControlName="perEmpPermanentResidence"
                                    required></textarea>
                                <mat-error *ngIf="p.perEmpPermanentResidence.hasError('required')">
                                    Permanent Residence is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Emergency Contact Number</mat-label>
                                <input matInput type="text" autocomplete="off"
                                    formControlName="perEmpEmergencyContactNo"
                                    placeholder="Enter Emergency Contact Number" class="form-control" minlength="6"
                                    required maxlength="15" numbersOnly />
                                <mat-error *ngIf="p.perEmpEmergencyContactNo.hasError('required')">
                                    Emergency Contact Number required
                                </mat-error>
                                <mat-error *ngIf="p.perEmpEmergencyContactNo.hasError('minlength')">
                                    Emergency Contact Number should be minimum 6 digit
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Physically Challenged</mat-label>
                                <mat-select placeholder="Choose Physically Challenged" class="form-control"
                                    formControlName="perEmpPhysicallyChallenged" required>
                                    <mat-option *ngFor="let physicallyChallenged of physicallyChallengedList"
                                        [value]="physicallyChallenged.value">
                                        {{physicallyChallenged.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpPhysicallyChallenged.hasError('required')">Please Choose
                                    Physically
                                    Challenged</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Mode Of Transport</mat-label>
                                <mat-select placeholder="Choose Mode Of Transport" class="form-control"
                                    formControlName="perEmpModeOfTransport" required>
                                    <mat-option *ngFor="let transport of modeOfTransportList" [value]="transport.value">
                                        {{transport.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpModeOfTransport.hasError('required')">Please Choose Mode of
                                    Transport
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Medical History</mat-label>
                                <mat-select placeholder="Choose Medical History" class="form-control"
                                    formControlName="perEmpMedicalHistory">
                                    <mat-option *ngFor="let history of medicalHistoryList" [value]="history.value">
                                        {{history.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please Choose Medical
                                    History
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" *ngIf="p.perEmpMedicalHistory.value=='Y'">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Medical Description</mat-label>
                                <textarea matInput cols="5" rows="5" autocomplete="off"
                                    placeholder="Enter Medical Description" formControlName="perEmpMedicalHistoryDesc"
                                    required></textarea>
                                <mat-error *ngIf="p.perEmpMedicalHistoryDesc.hasError('required')">Medical
                                    Description required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Family Information</p>
                        <div class="pb-lg-0 pb-5" *ngIf="personalInfoForm.get('family').valid">
                            <span (click)="addFamily()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Family
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="multiple-block" formArrayName="family"
                            *ngFor="let familyMembers of personalInfoForm.get('family')['controls']; let i = index;">
                            <div class="row pt-4" [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Family Member Name</mat-label>
                                            <input matInput type="text" autocomplete="off" formControlName="name"
                                                placeholder="Enter Name" class="form-control" required maxlength="150"
                                                matTooltip="{{f(i)['name'].value}}" [matTooltipPosition]="'above'"
                                                capitalizeFirst alphabet />
                                            <mat-error *ngIf="f(i)['name'].hasError('required')">Family Member Name
                                                required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Relationship</mat-label>
                                            <mat-select placeholder="Choose Relationship" class="form-control"
                                                formControlName="relationship" required>
                                                <mat-option *ngFor="let relationship of relationshipList"
                                                    [value]="relationship.value">
                                                    {{relationship.label}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="f(i)['relationship'].hasError('required')">Please Choose
                                                Relationship
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Age</mat-label>
                                            <input matInput type="text" autocomplete="off" formControlName="age"
                                                placeholder="Enter Age" class="form-control" required maxlength="3"
                                                numbersOnly />
                                            <mat-error *ngIf="f(i)['age'].hasError('required')">Age
                                                required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Occupation</mat-label>
                                            <mat-select placeholder="Choose Occupation" class="form-control"
                                                formControlName="occupation">
                                                <mat-option *ngFor="let occupation of occupationList"
                                                    [value]="occupation.value">
                                                    {{occupation.label}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="f(i)['occupation'].hasError('required')">Please Choose
                                                Occupation
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="pb-lg-0 pb-5 del-block" *ngIf="i != 0">
                                    <span (click)="removeFamily(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Education Information</p>
                        <div class="pb-lg-0 pb-5" *ngIf="personalInfoForm.get('education').valid">
                            <span (click)="addEducation()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Education
                            </span>
                        </div>
                    </div>
                    <div class="multiple-block" formArrayName="education"
                        *ngFor="let education of personalInfoForm.get('education')['controls']; let i = index;">
                        <div class="row pt-4" [formGroupName]="i">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Qualification</mat-label>
                                        <mat-select placeholder="Choose Qualification" class="form-control"
                                            formControlName="qualification" required>
                                            <mat-option *ngFor="let qualification of qualificationList"
                                                [value]="qualification.value">
                                                {{qualification.label}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="e(i)['qualification'].hasError('required')">Please Choose
                                            Qualification
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Institute</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="institute"
                                            placeholder="Enter Institute" class="form-control" required maxlength="200"
                                            matTooltip="{{e(i)['institute'].value}}" [matTooltipPosition]="'above'"
                                            capitalizeFirst />
                                        <mat-error *ngIf="e(i)['institute'].hasError('required')">Institute
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Year Of Passed</mat-label>
                                        <mat-select placeholder="Choose Year Of Passed" class="form-control"
                                            formControlName="yearOfPassedOut" required>
                                            <mat-option *ngFor="let year of yearList" [value]="year.value">
                                                {{year.label}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="e(i)['yearOfPassedOut'].hasError('required')">Please Choose
                                            Year Of Passed
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Grade</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="grade"
                                            placeholder="Enter Grade" class="form-control" required maxlength="8" />
                                        <mat-error *ngIf="e(i)['grade'].hasError('required')">Grade
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Certificate</mat-label>
                                        <input matInput type="text" formControlName="certificate"
                                            placeholder="Certificate" class="form-control" required />
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div class="pb-lg-0 pb-5 del-block" *ngIf="i != 0">
                                <span (click)="removeEducation(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Company Information</p>
                        <div class="pb-lg-0 pb-5" *ngIf="personalInfoForm.get('company').valid">
                            <span (click)="addCompany()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Company
                            </span>
                        </div>
                    </div>
                    <div class="multiple-block" formArrayName="company"
                        *ngFor="let company of personalInfoForm.get('company')['controls']; let i = index;">
                        <div class="row pt-4" [formGroupName]="i">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Company Name</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="companyName"
                                            placeholder="Enter Company Name" class="form-control"
                                            matTooltip="{{c(i)['companyName'].value}}" [matTooltipPosition]="'above'"
                                            required capitalizeFirst />
                                        <mat-error *ngIf="c(i)['companyName'].hasError('required')">Company Name
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>From</mat-label>
                                        <input matInput [matDatepicker]="prevDojPicker" autocomplete="off"
                                            class="form-control" formControlName="fromYear" [dateMask]="maskConfig"
                                            [max]="mindate">
                                        <mat-datepicker-toggle matSuffix [for]="prevDojPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #prevDojPicker></mat-datepicker>
                                        <mat-error *ngIf="c(i)['fromYear'].hasError('required')">From Year
                                            required
                                        </mat-error>
                                        <mat-error *ngIf="c(i)['fromYear'].hasError('matDatepickerMax')">From Year
                                            should not less be than today's date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>To</mat-label>
                                        <input matInput [matDatepicker]="prevToPicker" autocomplete="off"
                                            class="form-control" formControlName="toYear" [dateMask]="maskConfig">
                                        <mat-datepicker-toggle matSuffix [for]="prevToPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #prevToPicker></mat-datepicker>
                                        <mat-error *ngIf="c(i)['toYear'].hasError('required')">To Year
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Designation</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="designation"
                                            placeholder="Enter Designation" class="form-control" required maxlength="50"
                                            matTooltip="{{c(i)['designation'].value}}" [matTooltipPosition]="'above'"
                                            capitalizeFirst />
                                        <mat-error *ngIf="c(i)['designation'].hasError('required')">Please Choose
                                            Designation
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Reason For Leaving</mat-label>
                                        <input matInput type="text" formControlName="reasonForLeaving"
                                            placeholder="Reason For Leaving" class="form-control" required />
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Reference</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="reference"
                                            placeholder="Enter Reference" class="form-control" required
                                            maxlength="150" />
                                        <mat-error *ngIf="c(i)['reference'].hasError('required')">Reference
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    Releaving Letter
                                </div>
                            </div> -->
                            <div class="pb-lg-0 pb-5 del-block" *ngIf="i != 0">
                                <span (click)="removeCompany(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="salary-info">
        <p> Salary Information</p>
        <form [formGroup]="salaryInfoForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CTC Per Month</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="ctcPerMonth"
                                placeholder="Enter CTC Per Month" class="form-control"
                                (change)="onMakeDicimal($event, 'ctcPerMonth')" maxlength="15" />
                            <mat-error *ngIf="s.ctcPerMonth.hasError('required')">
                                CTC Per Month required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CTC Per Annum</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="ctcPerAnnum"
                                placeholder="Enter CTC Per Annum" class="form-control"
                                (change)="onMakeDicimal($event, 'ctcPerAnnum')" maxlength="15" />
                            <mat-error *ngIf="s.ctcPerAnnum.hasError('required')">
                                CTC Per Annum required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Basic</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="basic"
                                placeholder="Enter Basic" class="form-control" (change)="onMakeDicimal($event, 'basic')"
                                maxlength="15" />
                            <mat-error *ngIf="s.basic.hasError('required')">
                                Basic required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>HRA</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="hra" placeholder="Enter HRA"
                                class="form-control" (change)="onMakeDicimal($event, 'hra')" maxlength="15" />
                            <mat-error *ngIf="s.hra.hasError('required')">
                                HRA required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Conveyance</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="conveyance"
                                placeholder="Enter Conveyance" class="form-control"
                                (change)="onMakeDicimal($event, 'conveyance')" maxlength="15" />
                            <mat-error *ngIf="s.conveyance.hasError('required')">
                                Conveyance required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Mobile Reimbursement</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="mobileReimbursement"
                                placeholder="Enter Mobile Reimbursement" class="form-control" maxlength="15"
                                (change)="onMakeDicimal($event, 'mobileReimbursement')" />
                            <mat-error *ngIf="s.mobileReimbursement.hasError('required')">
                                Mobile Reimbursement required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Special Allowance</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="specialAllowance"
                                placeholder="Enter Special Allowance" class="form-control" maxlength="15"
                                (change)="onMakeDicimal($event, 'specialAllowance')" />
                            <mat-error *ngIf="s.specialAllowance.hasError('required')">
                                Special Allowance required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Gross</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="gross"
                                placeholder="Enter Gross" class="form-control" (change)="onMakeDicimal($event, 'gross')"
                                maxlength="15" />
                            <mat-error *ngIf="s.gross.hasError('required')">
                                Gross required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Employer EPF</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="employerEPF"
                                placeholder="Enter Employer EPF" class="form-control"
                                (change)="onMakeDicimal($event, 'employerEPF')" maxlength="15" />
                            <mat-error *ngIf="s.employerEPF.hasError('required')">
                                Employer EPF required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Employer ESIC</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="employerESIC"
                                placeholder="Enter Employer ESIC" class="form-control"
                                (change)="onMakeDicimal($event, 'employerESIC')" maxlength="15" />
                            <mat-error *ngIf="s.employerESIC.hasError('required')">
                                Employer ESIC required
                            </mat-error>
                            <mat-error
                                *ngIf="s.employerESIC.hasError('invalid') || s.employerESIC.hasError('maxLength')">
                                Employer ESIC should be within 10 digits
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Variable Pay</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="variablePay"
                                placeholder="Enter Variable Pay" class="form-control"
                                (change)="onMakeDicimal($event, 'variablePay')" maxlength="15" />
                            <mat-error *ngIf="s.variablePay.hasError('required')">
                                Variable Pay required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>UAN</mat-label>
                            <input matInput type="text" autocomplete="off" formControlName="uan" minlength="15"
                                maxlength="15" placeholder="Enter UAN" class="form-control" />
                            <mat-error *ngIf="s.uan.hasError('required') && !s.uan.hasError(
                                'minlength'
                              )">
                                UAN required
                            </mat-error>
                            <mat-error *ngIf="s.uan.hasError(
                                'minlength'
                              )">
                                UAN should be 15 digit number
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pb-lg-0 pb-5 btn-bottom-holder">
    <button type="submit" class="btn btn-gray font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
        Clear
    </button>
    <button type="submit" (click)="openFileUpload()"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
        Submit
    </button>
</div>