<div class="form-wrapper">
    <div class="office-info">
        <p>Official Information</p>
        <form [formGroup]="officialInfoForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee Id</mat-label>
                                <input matInput type="text" formControlName="offEmpId" class="form-control" required />
                                <mat-error *ngIf="o.offEmpId.hasError('required')">
                                    Employee Id is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Designation</mat-label>
                                <mat-select placeholder="tetetetet" class="form-control"
                                    formControlName="offEmpDesignation" required>
                                    <mat-option value="A">test</mat-option>
                                    <mat-option *ngFor="let designation of designationList" [value]="designation.value">
                                        {{designation.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="o.offEmpDesignation.hasError('required')">Please choose an Designation
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Department</mat-label>
                                <mat-select placeholder="Department" class="form-control"
                                    formControlName="offEmpDepartment" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let department of departmentList" [value]="department.value">
                                        {{department.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="o.offEmpDepartment.hasError('required')">Please choose an Department
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Work Location</mat-label>
                                <input matInput type="text" formControlName="offEmpWorkLocation"
                                    placeholder="Work Location" class="form-control" required />
                                <mat-error *ngIf="o.offEmpWorkLocation.hasError('required')">
                                    Work Location is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            Emp Pic
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Official Contact Number</mat-label>
                                <input matInput type="text" formControlName="offEmpOffContactNo"
                                    placeholder="Official Contact Number" class="form-control" required />
                                <mat-error *ngIf="o.offEmpOffContactNo.hasError('required')">
                                    Official Contact Number is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Officical Email</mat-label>
                                <input matInput placeholder="Officical Email" formControlName="offEmpOfficialEmail"
                                    required>
                                <mat-error
                                    *ngIf="o.offEmpOfficialEmail.hasError('email') && !o.offEmpOfficialEmail.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('required')">
                                    Officical Email is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('minLength')">
                                    Email should have at least 3 characters
                                </mat-error>
                                <mat-error *ngIf="o.offEmpOfficialEmail.hasError('maxLength')">
                                    Email should have maximum 320 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="person-info">
        <p>Personal Information</p>
        <form [formGroup]="personalInfoForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee First Name</mat-label>
                                <input matInput type="text" formControlName="perEmpFirstName"
                                    placeholder="Employee First Name" class="form-control" required />
                                <mat-error *ngIf="p.perEmpFirstName.hasError('required')">
                                    Employee First Name required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Employee Last Name</mat-label>
                                <input matInput type="text" formControlName="perEmpLastName"
                                    placeholder="Employee Last Name" class="form-control" required />
                                <mat-error *ngIf="p.perEmpLastName.hasError('required')">
                                    Employee Last Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="dobPicker" class="form-control"
                                    formControlName="perEmpDob">
                                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dobPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Gender</mat-label>
                                <mat-select placeholder="Gender" class="form-control" formControlName="perEmpGender"
                                    required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                                        {{gender.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpGender.hasError('required')">Please choose an Gender
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Marital Status</mat-label>
                                <mat-select placeholder="Marital Status" class="form-control"
                                    formControlName="perEmpMaritalStatus" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let marital of maritalStatusList" [value]="marital.value">
                                        {{marital.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpMaritalStatus.hasError('required')">Please choose an Marital
                                    Status
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Nationality</mat-label>
                                <mat-select placeholder="Nationality" class="form-control"
                                    formControlName="perEmpNationality" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let nationality of nationalityList" [value]="nationality.value">
                                        {{nationality.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpNationality.hasError('required')">Please choose an Nationality
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Personal Contact Number</mat-label>
                                <input matInput type="text" formControlName="perEmpPersonalContactNo"
                                    placeholder="Personal Contact Number" class="form-control" required />
                                <mat-error *ngIf="p.perEmpPersonalContactNo.hasError('required')">
                                    Personal Contact Number is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Personal Email</mat-label>
                                <input matInput placeholder="Personal Email" class="form-control"
                                    formControlName="perEmpPersonalEmail" required>
                                <mat-error
                                    *ngIf="p.perEmpPersonalEmail.hasError('perEmpPersonalEmail') && !p.perEmpPersonalEmail.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('required')">
                                    Personal Email is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('minLength')">
                                    Email should have at least 3 characters
                                </mat-error>
                                <mat-error *ngIf="p.perEmpPersonalEmail.hasError('maxLength')">
                                    Email should have maximum 320 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Current Residence</mat-label>
                                <textarea matInput cols="5" rows="5" placeholder="Current Residence"
                                    formControlName="perEmpResidence" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Permanent Residence</mat-label>
                                <textarea matInput cols="5" rows="5" placeholder="Permanent Residence"
                                    formControlName="perEmpPermanentResidence" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Emergency Contact Number</mat-label>
                                <input matInput type="text" formControlName="perEmpEmergencyContactNo"
                                    placeholder="Emergency Contact Number" class="form-control" required />
                                <mat-error *ngIf="p.perEmpEmergencyContactNo.hasError('required')">
                                    Emergency Contact Number required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Physically Challenged</mat-label>
                                <mat-select placeholder="Physically Challenged" class="form-control"
                                    formControlName="perEmpPhysicallyChallenged" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let physicallyChallenged of physicallyChallengedList"
                                        [value]="physicallyChallenged.value">
                                        {{physicallyChallenged.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpPhysicallyChallenged.hasError('required')">Please choose an
                                    Physically
                                    Challenged</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Mode Of Transport</mat-label>
                                <mat-select placeholder="Mode Of Transport" class="form-control"
                                    formControlName="perEmpModeOfTransport" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let transport of modeOfTransportList" [value]="transport.value">
                                        {{transport.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpModeOfTransport.hasError('required')">Please choose an Mode of
                                    Transport
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Medical History</mat-label>
                                <mat-select placeholder="Medical History" class="form-control"
                                    formControlName="perEmpMedicalHistory" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let history of medicalHistoryList" [value]="history.value">
                                        {{history.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please choose an Medical
                                    History
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Medical Description</mat-label>
                                <textarea matInput cols="5" rows="5" placeholder="Medical Description"
                                    formControlName="perEmpMedicalHistoryDesc" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Family Information</p>
                        <div class="pb-lg-0 pb-5">
                            <span (click)="addFamily()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Family
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="multiple-block" formArrayName="family"
                            *ngFor="let familyMembers of personalInfoForm.get('family')['controls']; let i = index;">
                            <div class="row pt-4" [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Family Member Name</mat-label>
                                            <input matInput type="text" formControlName="name" placeholder="Name"
                                                class="form-control" required />
                                            <!-- <mat-error *ngIf="p.name.hasError('required')">
            Employee First Name required
        </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Relationship</mat-label>
                                            <mat-select placeholder="Relationship" class="form-control"
                                                formControlName="relationship" required>
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let relationship of relationshipList"
                                                    [value]="relationship.value">
                                                    {{relationship.label}}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please choose an Medical History
                    </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Age</mat-label>
                                            <input matInput type="text" formControlName="age" placeholder="Age"
                                                class="form-control" required />
                                            <!-- <mat-error *ngIf="p.name.hasError('required')">
            Employee First Name required
        </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Occupation</mat-label>
                                            <mat-select placeholder="Occupation" class="form-control"
                                                formControlName="occupation" required>
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let occupation of occupationList"
                                                    [value]="occupation.value">
                                                    {{occupation.label}}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please choose an Medical History
                    </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="pb-lg-0 pb-5 del-block">
                                    <span (click)="removeFamily(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Education Information</p>
                        <div class="pb-lg-0 pb-5">
                            <span (click)="addEducation()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Education
                            </span>
                        </div>
                    </div>
                        <div class="multiple-block" formArrayName="education"
                            *ngFor="let education of personalInfoForm.get('education')['controls']; let i = index;">
                            <div class="row pt-4" [formGroupName]="i">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Qualification</mat-label>
                                            <mat-select placeholder="Qualification" class="form-control"
                                                formControlName="qualification" required>
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let qualification of qualificationList"
                                                    [value]="qualification.value">
                                                    {{qualification.label}}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please choose an Medical History
                            </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Institute</mat-label>
                                            <input matInput type="text" formControlName="institute"
                                                placeholder="Institute" class="form-control" required />
                                            <!-- <mat-error *ngIf="p.name.hasError('required')">
        Employee First Name required
    </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Year Of Passed</mat-label>
                                            <mat-select placeholder="Year Of Passed" class="form-control"
                                                formControlName="yearOfPassedOut" required>
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let year of yearList" [value]="year.value">
                                                    {{year.label}}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-error *ngIf="p.perEmpMedicalHistory.hasError('required')">Please choose an Medical History
                            </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Grade</mat-label>
                                            <input matInput type="text" formControlName="grade" placeholder="Grade"
                                                class="form-control" required />
                                            <!-- <mat-error *ngIf="p.name.hasError('required')">
            Employee First Name required
        </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>Certificate</mat-label>
                                            <input matInput type="text" formControlName="certificate"
                                                placeholder="Certificate" class="form-control" required />
                                            <!-- <mat-error *ngIf="p.name.hasError('required')">
            Employee First Name required
        </mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="pb-lg-0 pb-5 del-block">
                                    <span (click)="removeEducation(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="person-subform">
                    <div class="title-holder">
                        <p>Company Information</p>
                        <div class="pb-lg-0 pb-5">
                            <span (click)="addCompany()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Company
                            </span>
                        </div>
                    </div>
                    <div class="multiple-block" formArrayName="company"
                        *ngFor="let familyMembers of personalInfoForm.get('company')['controls']; let i = index;">
                        <div class="row pt-4" [formGroupName]="i">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Company Name</mat-label>
                                        <input matInput type="text" formControlName="companyName"
                                            placeholder="Company Name" class="form-control" required />
                                        <!-- <mat-error *ngIf="p.name.hasError('required')">
Employee First Name required
</mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>From</mat-label>
                                        <input matInput [matDatepicker]="prevDojPicker" class="form-control"
                                            formControlName="fromYear">
                                        <mat-datepicker-toggle matSuffix [for]="prevDojPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #prevDojPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>To</mat-label>
                                        <input matInput [matDatepicker]="prevToPicker" class="form-control"
                                            formControlName="toYear">
                                        <mat-datepicker-toggle matSuffix [for]="prevToPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #prevToPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Designation</mat-label>
                                        <input matInput type="text" formControlName="designation"
                                            placeholder="Designation" class="form-control" required />
                                        <!-- <mat-error *ngIf="p.name.hasError('required')">
Employee First Name required
</mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Reason For Leaving</mat-label>
                                        <input matInput type="text" formControlName="reasonForLeaving"
                                            placeholder="Reason For Leaving" class="form-control" required />
                                        <!-- <mat-error *ngIf="p.name.hasError('required')">
Employee First Name required
</mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Reference</mat-label>
                                        <input matInput type="text" formControlName="reference" placeholder="Reference"
                                            class="form-control" required />
                                        <!-- <mat-error *ngIf="p.name.hasError('required')">
Employee First Name required
</mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    Releaving Letter
                                </div>
                            </div>
                            <div class="pb-lg-0 pb-5 del-block">
                                <span (click)="removeCompany(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="salary-info">
        <p> Salary Information</p>
        <form [formGroup]="salaryInfoForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CTC Per Month</mat-label>
                            <input matInput type="text" formControlName="ctcPerMonth" placeholder="CTC Per Month"
                                class="form-control" required />
                            <mat-error *ngIf="s.ctcPerMonth.hasError('required')">
                                CTC Per Month required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>CTC Per Annum</mat-label>
                            <input matInput type="text" formControlName="ctcPerAnnum" placeholder="CTC Per Annum"
                                class="form-control" required />
                            <mat-error *ngIf="s.ctcPerAnnum.hasError('required')">
                                CTC Per Annum required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Basic</mat-label>
                            <input matInput type="text" formControlName="basic" placeholder="Basic" class="form-control"
                                required />
                            <mat-error *ngIf="s.basic.hasError('required')">
                                Basic required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>HRA</mat-label>
                            <input matInput type="text" formControlName="hra" placeholder="HRA" class="form-control"
                                required />
                            <mat-error *ngIf="s.hra.hasError('required')">
                                HRA required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Conveyance</mat-label>
                            <input matInput type="text" formControlName="conveyance" placeholder="Conveyance"
                                class="form-control" required />
                            <mat-error *ngIf="s.conveyance.hasError('required')">
                                Conveyance required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Mobile Reimbursement</mat-label>
                            <input matInput type="text" formControlName="mobileReimbursement"
                                placeholder="Mobile Reimbursement" class="form-control" required />
                            <mat-error *ngIf="s.mobileReimbursement.hasError('required')">
                                Mobile Reimbursement required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Special Allowance</mat-label>
                            <input matInput type="text" formControlName="specialAllowance"
                                placeholder="Special Allowance" class="form-control" required />
                            <mat-error *ngIf="s.specialAllowance.hasError('required')">
                                Special Allowance required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Gross</mat-label>
                            <input matInput type="text" formControlName="gross" placeholder="Gross" class="form-control"
                                required />
                            <mat-error *ngIf="s.gross.hasError('required')">
                                Gross required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Employer EPF</mat-label>
                            <input matInput type="text" formControlName="employerEPF" placeholder="Employer EPF"
                                class="form-control" required />
                            <mat-error *ngIf="s.employerEPF.hasError('required')">
                                Employer EPF required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Employer ESIC</mat-label>
                            <input matInput type="text" formControlName="employerESIC" placeholder="Employer ESIC"
                                class="form-control" required />
                            <mat-error *ngIf="s.employerESIC.hasError('required')">
                                Employer ESIC required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Variable Pay</mat-label>
                            <input matInput type="text" formControlName="variablePay" placeholder="Variable Pay"
                                class="form-control" required />
                            <mat-error *ngIf="s.variablePay.hasError('required')">
                                Variable Pay required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>UAN</mat-label>
                            <input matInput type="text" formControlName="uan" placeholder="UAN" class="form-control"
                                required />
                            <mat-error *ngIf="s.uan.hasError('required')">
                                UAN required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pb-lg-0 pb-5 btn-bottom-holder">
    <button type="submit" class="btn btn-gray font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
        Cancel
    </button>  <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
        Create
    </button>
</div>