<div class="view-details-container form-highlighter">
    <div class="top-view-holder">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-lg-4 text-center align-self-center">
                    <img src="../../../../assets/media/users/300_20.jpg" alt="" class="img-rounder">
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <h2>Mano Jagan</h2>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <p>,,ECR</p>
                    <p>Chennai</p>
                    <p>216846431351654</p>
                </div>
            </div>
            <hr>
            <div class="row my-5">
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Lead Date</p>
                        <span>17/Mar/2021, 11:26:33</span>
                    </div>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Lead By</p>
                        <span>John</span>
                    </div>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Status</p>
                        <span>Design</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="container-fluid">
            <p class="title-main">Personal Information</p>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <p class="title-main">Property Information</p>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <p class="title-main">Property Address</p>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <p class="title-main">Design</p>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="pb-lg-0 pb-5 btn-bottom-holder text-left">
                        <button type="submit"
                            class="btn btn-primary font-pweight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            Download <i class="fas fa-download"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="pb-lg-0 pb-5 btn-bottom-holder text-right">
                        <button type="submit" (click)="redirectTo('GO_TO_DASHBOARD')"
                            class="btn btn-primary font-pweight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            <i class="fas fa-angle-double-left"></i> Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>