<div class="view-details-container form-highlighter">
    <div class="top-view-holder">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-lg-4 text-center align-self-center">
                    <img src="../../../../assets/media/users/300_20.jpg" alt="" class="img-rounder">
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <h2>{{leadInfo?.personalInfo?.leadName}}</h2>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <p>{{leadInfo?.personalInfo?.flat}}</p>
                    <p>{{leadInfo?.personalInfo?.streetName}}</p>
                    <p>{{leadInfo?.personalInfo?.city}}</p>
                    <p>{{leadInfo?.personalInfo?.pinCode}}</p>
                    <p>{{leadInfo?.personalInfo?.contactNo}}</p>
                    <p>{{leadInfo?.personalInfo?.personalEmailId}}</p>
                </div>
            </div>
            <hr>
            <div class="row my-5">
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Lead Date</p>
                        <span>17/Mar/2021, 11:26:33</span>
                    </div>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Lead By</p>
                        <span>Mano</span>
                    </div>
                </div>
                <div class="col-lg-4 text-center align-self-center">
                    <div class="secondary-view">
                        <p>Status</p>
                        <span>{{leadInfo?.statusDesc}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="container-fluid">
            <p class="title-main">Personal Information</p>
            <div class="row">
                <div class="col-lg-4">
                    <mat-label>Type Of Customer?</mat-label>
                    <p>{{leadInfo?.personalInfo?.typeOfCustomer}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Lead Source</mat-label>
                    <p>{{leadInfo?.personalInfo?.leadSource}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Refernce by</mat-label>
                    <p>{{leadInfo?.personalInfo?.referencedBy}}</p>
                </div>
            </div>
            <p class="title-main">Property Information</p>
            <div class="row">
                <div class="col-lg-4">
                    <mat-label>What are you looking for?</mat-label>
                    <p>{{leadInfo?.propertyInfo?.lookingForDesc}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Whats the type of Property?</mat-label>
                    <p>{{leadInfo?.propertyInfo?.typeOfProperty}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Perperty Name</mat-label>
                    <p>{{leadInfo?.propertyInfo?.propertyName}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Builder Name</mat-label>
                    <p>{{leadInfo?.propertyInfo?.builderName}}</p>
                </div>
            </div>
            <p class="title-main">Property Address</p>
            <div class="row">
                <div class="col-lg-4">
                    <mat-label>Flat No</mat-label>
                    <p>{{leadInfo?.propertyInfo?.flat}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Street Name</mat-label>
                    <p>{{leadInfo?.propertyInfo?.streetName}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>City</mat-label>
                    <p>{{leadInfo?.propertyInfo?.city}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Pin Code</mat-label>
                    <p>{{leadInfo?.propertyInfo?.pinCode}}</p>
                </div>
            </div>
            <p class="title-main">Design</p>
            <div class="row">
                <div class="col-lg-4">
                    <mat-label>Architect Name</mat-label>
                    <p>{{leadInfo?.designReqForm?.architectName}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Contact No</mat-label>
                    <p>{{leadInfo?.designReqForm?.contactNo}}</p>
                </div>
                <div class="col-lg-4">
                    <mat-label>Email ID</mat-label>
                    <p>{{leadInfo?.designReqForm?.emailId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="pb-lg-0 pb-5 btn-bottom-holder text-left">
                        <button type="submit"
                            class="btn btn-primary font-pweight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            Download <i class="fas fa-download"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="pb-lg-0 pb-5 btn-bottom-holder text-right">
                        <button type="submit" (click)="redirectTo('GO_TO_DASHBOARD')"
                            class="btn btn-primary font-pweight-bolder font-size-h6 px-8 py-4 my-3 mr-3">
                            <i class="fas fa-angle-double-left"></i> Back
                        </button>
                    </div>
                </div>
            </div>
            <div class="full-view">
                <div class="left-mom">
                    <h3>MOM Info</h3>
                    <div class="inside-left">
                        <p>MoM # : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Date : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Meeting : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Organiser : </p>
                        <span> Value </span>
                    </div>
                </div>
                <div class="ver-line"></div>
                <div class="right-mom">
                    <h3>Attendees Info</h3>
                    <div class="inside-left">
                        <p>Sales person : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Designer : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Architect : </p>
                        <span> Value </span>
                    </div>
                    <div class="inside-left">
                        <p>Coordinator : </p>
                        <span> Value </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>